// images
$backgroundImage1: '../images/forest1_analog.png';
$backgroundImage2: '../images/forest2_analog.png';
$backgroundImage3: '../images/forest3_analog.png';
$backgroundImage4: '../images/forest4_analog.png';
$backgroundImage5: '../images/forest5_analog.png';

body {
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.forest1 {
  background-image: url($backgroundImage1);
}
.forest2 {
  background-image: url($backgroundImage2);
}
.forest3 {
  background-image: url($backgroundImage3);
}
.forest4 {
  background-image: url($backgroundImage4);
}
.forest5 {
  background-image: url($backgroundImage5);
}
